.main-menu-site {
	margin-top: 78px !important;
	margin-right: 50px !important;
}
.healthcare, .healthcare-en{
	background: #b28c65;
}
.education, .education-en{
	background: #d2a36f;
}
.civil-society, .civil-society-en{
	background: #ddd292;
}
.environment, .environment-en{
	background: #aeaf5f;
}
.nav_crumb {
	font-size: 12px;
}
.page-template-template-about .content a{
	background: #f9f4e1;
	color: #000000;
	
}